.analysis
.bundle
.git
.gitignore
.node-version
.rbenv-vars
.rubocop.yml
.ruby-version
.env
.envrc

config/master.key

log/*
tmp/*
local/*
storage/*
node_modules
vendor/bundle

public/assets
public/decidim-packs
public/packs-test
public/sw.js*

docker-compose*.yml
README.md
AGENTS.md
